//block: three-col-service-push

.t2-block-three-col-service-push {
	$scope-background-color: $t2-color-pantone-361;
	$scope-border-color: darken($scope-background-color, 4%);
	background-color: $scope-background-color;
	.t2-item, .t2-item-container{
		border-color:rgba(#000, 0.10);
		border-style: solid;
		border-width: 0px;
	}
	&.t2-background-color-pantone-300, &.t2-background-color-pantone-2603{
		.t2-item-container, .t2-item{
			border-color:rgba(#000, 0.20);
		}
	}
	&.t2-background-color-pantone-black{
		.t2-item-container, .t2-item{
			border-color:rgba(#fff, 0.20);
		}
	}
	.t2-items-wrapper {
		padding: 0 $t2-size-small/2;
		//ul
		.t2-items-container {
			//li
			.t2-item-container {
				padding: 0;
				position: relative;		
				.t2-item {
					padding: $t2-size-large $t2-size-xsmall $t2-size-large $t2-size-xsmall;
					position: relative;
					.t2-heading-container {
						position: relative;
						z-index: 1;
						.t2-heading,
						h2,
						h3 {
							@extend .t2-font-heavy;
							font-size: rem-calc(46);
							margin: 0;
                            > span { line-height: 0.88em; }
						}
					}
					.t2-button-wrapper {
						margin-top: $t2-size-medium;
						margin-bottom:0;
						.t2-button {
							margin: 0;
							position: relative;
							z-index: 3;
						}
					}
					.t2-image-container {
						//preferred-image-size: 220*260px.
						position: absolute;
						z-index: 0;
						width: 60%;
						height: 100%;
						top: 0;
						right: 0;
						margin: 0 0 0 0;
						background-color: transparent;
						background-repeat: no-repeat;
						@include t2-background-size(contain);
						background-position: right bottom;
					}
				}
				.t2-anchor {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					display: block;
				}
			}
		}
	}
	@media #{$small-only} {
		//background-color: darken($scope-background-color, 1%);
		.t2-items-wrapper {
			//ul
			.t2-items-container {
				//li
				.t2-item-container {
					.t2-item {
						//background-color: $scope-background-color;
						max-width: 320px;
						margin: 0 auto;
						//border-left: 1px solid $scope-border-color;
						border-left-width: 1px;
						//border-right: 1px solid $scope-border-color;
						border-right-width: 1px;
					}
					& + .t2-item-container {
						.t2-item { border-top-width: 1px; }
					}
				}
			}
		}
	}
	@media #{$medium-up} {
		.t2-items-wrapper {
			padding: 0 $t2-size-small;
			//ul
			.t2-items-container {
				margin: 0 -20px;
				//li
				.t2-item-container {
					padding: 0 $t2-size-small/2;
					.t2-item {
						padding: $t2-size-large $t2-size-small;
						.t2-heading-container {
							.t2-heading,
							h2,
							h3 { font-size: rem-calc(35); }
						}
						.t2-image-container { margin: 0 -10px 0 0; }
					}
					& + .t2-item-container { border-left-width: 1px; }
				}
			}
		}		
	}
	@media #{$large-up} {
		.t2-items-wrapper {
			//ul
			.t2-items-container {
				//li
				.t2-item-container {
					.t2-item {
						padding: $t2-size-xlarge $t2-size-large;
						.t2-heading-container {
							.t2-heading,
							h2,
							h3 { font-size: rem-calc(50); }
						}
						.t2-button-wrapper { margin-top: $t2-size-xlarge; }
					}
				}
			}
		}		
	}
	@media #{$row-up} {
		.t2-items-wrapper {
			//ul
			.t2-items-container {
				margin: 0;
				//li
				.t2-item-container {
					border-left-width: 1px;
					&:nth-child(3n+0) { border-right-width: 1px; }
				}
			}
		}
	}
}