.t2-password-strength-indicator{
	position:relative;
	.t2-wrapper {
		height: 5px;
		position: absolute;
		right: 2px;
		left: 2px;
		background-color: #f0f0f0;
		bottom: 2px;
		z-index: 2;
		.t2-bar {
			background-color: #999;
			height: 100%;
			display: inline-block;
			width: 0%;
			position: absolute;
			left: 0;
			-webkit-transition: width 200ms ease-in-out, background-color 200ms ease-in-out;
			-moz-transition: width 200ms ease-in-out, background-color 200ms ease-in-out;
			-ms-transition: width 200ms ease-in-out, background-color 200ms ease-in-out;
			-o-transition: width 200ms ease-in-out, background-color 200ms ease-in-out;
			transition: width 200ms ease-in-out, background-color 200ms ease-in-out;
		}
	}
}