//Discover Block: two-col-text

.t2-block-discover-two-col-text, .t2-block-discover-col-text {
	padding: $t2-size-xlarge 0;
	.row > .columns { padding: 0 $t2-size-xsmall; }
	.t2-heading-container {
		padding-bottom: $t2-size-medium;
		.t2-title { font-size: rem-calc(32); }
	}
	.t2-content-container {}
	
	@media #{$small-only} {
		.t2-col-one {}
		.t2-col-two { margin-top: $t2-size-medium; }
	}
	@media #{$medium-up} {
		padding: $t2-size-large*2 0;
		.row > .columns { padding: 0 $t2-size-small; }
		.t2-heading-container {
			padding-bottom: $t2-size-xlarge;
			.t2-title { font-size: rem-calc(70); }
		}
		.t2-content-container {}
	}
	@media #{$large-up} {
		.t2-heading-container {
			padding-bottom: rem-calc(70);
			.t2-title { font-size: rem-calc(90); }
		}		
	}
}