.t2-campaign{
	.t2-campaign-iframe-wrapper{
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        width:100%;
        height:100%;
        height: calc(100% - 71px);
        
		@media #{$large-up} {
            height:100%;
            height: calc(100% - 81px);
		}
		
		.t2-campaign-iframe{
            border:0;
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            background-color:transparent;
            display:block;
		}
	}
	.t2-no-overflow{
		height:100%;
	}	
}