@font-face {
	font-family: 't2-magento-iconic';
	src:url('/Content/fonts/t2-magento-iconic/t2-magento-iconic.eot?37645471');
	src:url('/Content/fonts/t2-magento-iconic/t2-magento-iconic.eot?37645471#iefix') format('embedded-opentype'),
		url('/Content/fonts/t2-magento-iconic/t2-magento-iconic.woff?37645471') format('woff'),
		url('/Content/fonts/t2-magento-iconic/t2-magento-iconic.ttf?37645471') format('truetype'),
		url('/Content/fonts/t2-magento-iconic/t2-magento-iconic.svg?37645471#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="t2-magento-icon-"]:before, [class*=" t2-magento-icon-"]:before {
  font-family: 't2-magento-iconic';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  zoom:1;
}
.t2-magento-icon-ok:before { content: '\e800'; }
.t2-magento-icon-paper-plane:before { content: '\e801'; }
.t2-magento-icon-heart-2:before { content: '\e802'; }
.t2-magento-icon-cancel:before { content: '\e803'; }
.t2-magento-icon-up-dir:before { content: '\e804'; }
.t2-magento-icon-right-dir:before { content: '\e805'; }
.t2-magento-icon-down-dir:before { content: '\e806'; }
.t2-magento-icon-left-dir:before { content: '\e807'; }
.t2-magento-icon-cancel-circle:before { content: '\e808'; }
.t2-magento-icon-spin3:before { content: '\e809'; }
.t2-magento-icon-bookmarks:before { content: '\e80a'; }
.t2-magento-icon-heart:before { content: '\e80b'; }
.t2-magento-icon-direction:before { content: '\e80c'; }
.t2-magento-icon-thumbs-up:before { content: '\e80d'; }
.t2-magento-icon-box:before { content: '\e80e'; }
.t2-magento-icon-info-circled:before { content: '\e80f'; }
.t2-magento-icon-cancel-circle-1:before { content: '\e810'; }
.t2-magento-icon-ok-1:before { content: '\e811'; }
.t2-magento-icon-level-down:before { content: '\e812'; }
.t2-magento-icon-remove:before { content: '\e813'; }
.t2-magento-icon-circle-thin:before { content: '\e814'; }
.t2-magento-icon-print:before { content: '\e815'; }
.t2-magento-icon-ok-circled:before { content: '\e816'; }
.t2-magento-icon-attention:before { content: '\e817'; }
.t2-magento-icon-ccw:before { content: '\e81a'; }
.t2-magento-icon-sort:before { content: '\e81b'; }
.t2-magento-icon-ok-2:before { content: '\e81c'; }
.t2-magento-icon-mobile:before { content: '\e81d'; }
.t2-magento-icon-up-open:before { content: '\e81e'; }
.t2-magento-icon-down-open:before { content: '\e81f'; }
.t2-magento-icon-spin5:before { content: '\e820'; }
.t2-magento-icon-heart-1:before { content: '\e821'; font-family: 't2-magento-iconic'; }
.t2-magento-icon-angle-up:before { content: '\e822'; }
.t2-magento-icon-angle-down:before { content: '\e823'; }
.t2-magento-icon-thumbs-up-1:before { content: '\e824'; font-family: 't2-magento-iconic'; }
.t2-magento-icon-archive:before { content: '\e825'; font-family: 't2-magento-iconic';}
.t2-magento-icon-mobile-1:before { content: '\e827'; }
.t2-magento-icon-info:before { content: '\e80f'; }