.t2-block-thin{
	@media #{$small-only} {
		padding:0 $t2-size-xsmall;
		
	}
	.t2-editorial.t2-block-discover-editorial{
		padding-top:$t2-size-xlarge;
		padding-bottom:$t2-size-xlarge;
	}
	@media #{$large-up} {
		.t2-editorial.t2-block-discover-editorial{
			padding-top:$t2-size-medium*2;
			padding-bottom:$t2-size-medium*2;
		}
	}
}
//parent: t2-block-two-col-product-push-container
.t2-block-two-col-product-push-container {
	$scope-background-color: $t2-color-gray-steam;
	$scope-border-color: #e3e3e3;
	
	background-color: $scope-background-color;
	.t2-block-wrapper {
		.t2-block-container {
			margin: 0 -20px;
			> li { padding: 0; }
			//t2-block-two-col-product-push
			.t2-block-two-col-product-push {}
		}
	}
	@media #{$small-only} {
		.t2-block-wrapper {
			.t2-block-container {
				> li {
					& + li {
						.t2-content { border-top: 1px solid $scope-border-color; }
						.t2-block-thin{
							border-top: 1px solid $scope-border-color;
						}
					}
				}
			}
		}
	}
	@media #{$medium-up} {
		.t2-block-wrapper {
			.t2-block-container {
				> li {
					&:nth-child(2n+0) { border-left: 1px solid $scope-border-color; }
					&:nth-child(1n+3) { border-top: 1px solid $scope-border-color; }
				}
				//t2-block-two-col-product-push
				.t2-block-two-col-product-push {}
			}
		}		
	}
	@media #{$large-up} {
		.t2-block-wrapper {
			.t2-block-container {
				> li {}
				//t2-block-two-col-product-push
				.t2-block-two-col-product-push {}
			}
		}		
	}
	@media #{$row-up} {
		.t2-block-wrapper {
			.t2-block-container {
				margin: 0;
				> li {
					border-left: 1px solid $scope-border-color;
					&:nth-child(2n+0) { border-right: 1px solid $scope-border-color; }
				}
				//t2-block-two-col-product-push
				.t2-block-two-col-product-push {}
			}
		}
	}
}
//block: t2-block-two-col-product-push
.t2-block-two-col-product-push {
	$scope-border-color: darken($t2-color-gray-fog, 5%);
	.t2-content {
		padding: $t2-size-medium $t2-size-xsmall;
		padding-right: 40%;
		position: relative;
		overflow: hidden;
		> div{
			padding-right: 16px;
		}
		.t2-section-title {
			display: block;
			text-transform: uppercase;
			font-size: rem-calc(11);
			line-height: $t2-heading-lineheight;
			color: $t2-color-gray-concrete;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
		.t2-title {
			@extend .t2-font-bold;
			font-size: rem-calc(18);
			margin: rem-calc(4) 0 0 0;
			padding: 0;
		}		
		.t2-editorial {
			margin: rem-calc(14) 0 0 0;
			padding: 0;
			&, p {
				font-size: rem-calc(12);
				line-height: rem-calc(18);
			}
        }
		.t2-button {
			margin-top: rem-calc(24);
			position: relative;
			z-index: 3;
		}
		.t2-image-container {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			top: 0;
			right: -60%;
			margin: 0;
			background-color: transparent;
			background-repeat: no-repeat;
			@include t2-background-size(contain);
			background-position: left bottom;
		}
		.t2-anchor {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			display: block;
		}
	}
	&.t2-block-two-col-product-push-right{
			.t2-content{
				padding-right: $t2-size-xsmall;
				padding-left:33%;
				.t2-image-container {
					background-position: right bottom;
					right: auto;
					left: -67%;
				}
				> div{
					padding-left: 16px;
					padding-right:0;
				}
			}
		}
	
	
	@media #{$small-only} {
		.t2-editorial {
            ul li { font-size: rem-calc(12); }
		}
	}
	@media #{$medium-up} {
		.t2-content {
			> div{
				padding:0;
			}
			min-height: 100%;
			padding: $t2-size-large $t2-size-medium;
			padding-right: 38%;
			.t2-title {
				font-size: rem-calc(26);
				margin: rem-calc(8) 0 0 0;
			}		
			.t2-editorial {
				margin: rem-calc(22) 0 0 0;
				&, p {
					font-size: rem-calc(14);
					line-height: 1.7em;
				}
			}
			.t2-button { margin-top: rem-calc(34); }
			.t2-image-container {
				width: 200%;
				right: -165%;
			}			
		}
		&.t2-block-two-col-product-push-right{
			.t2-content{
				> div{
					padding:0;
				}
				padding: $t2-size-large $t2-size-medium;
				padding-left:38%;
				.t2-image-container {
					right: auto;
					left: -165%;
				}
			}
		}
	}
	@media #{$large-up} {
		.t2-content {
			padding: $t2-size-xlarge;
			padding-right: 51%;
			.t2-image-container { right: -152%; }
		}
		&.t2-block-two-col-product-push-right{
			.t2-content{
				padding: $t2-size-xlarge;
				padding-left: 51%;
				.t2-image-container {
					left:-152%;
				}
			}
		}		
	}
}