//page: mobilsurfvaljaren

.t2-page-mobilsurfvaljaren {
    
    ul {
        list-style: none;
    }

    //partial
    .t2-partial {
        //padding-bottom: $t2-size-medium;
        display: none;
        > .row > .columns { padding: 0 $t2-size-xsmall; }
        .t2-partial-text {
            padding: $t2-size-medium 0;
            &, p {
                font-size: rem-calc(14);
                line-height: rem-calc(21);
                color: $t2-color-gray-graphite;             
            }
        }
        &.t2-active { display: block; }
        @media #{$medium-up} {
            > .row > .columns { padding: 0 $t2-size-small; }
            .t2-partial-text {
                padding: 0;
                &, p {
                    font-size: rem-calc(16);
                    line-height: rem-calc(25);
                    color: $t2-color-gray-graphite;             
                }
            }   
        }
    }
    
    //partial: shared: heading
    .t2-partial-shared-heading-wrapper {
        $scope-step-color: darken($t2-color-gray-gravle, 6.6%);
        .t2-partial-shared-heading {
            padding: $t2-size-large 0 $t2-size-small rem-calc(35);
            margin: 0 0 0 0;
            border-bottom: 1px solid $t2-color-gray-fog;
            position: relative;
            //step container
            .t2-step-container {
                position: absolute;
                left: 0;
                margin: -2px 0 0 0;
                display: block;
                width: 25px;
                height: 25px;
                border: 2px solid $scope-step-color;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                color: $scope-step-color;
                font-size: rem-calc(11);
                line-height: rem-calc(21);
                text-align: center;
                font-weight: bold;
                .t2-step,
                .t2-approved {
                    display: none;
                    font-size: rem-calc(12);
                    &.t2-active { display: inline; }
                 }
                 .t2-approved { vertical-align: -1px; }
            }
            .t2-heading {
                font-size: rem-calc(20);
                line-height: rem-calc(22);
                margin: 0 0 0 0;
                padding: 0;
                @extend .t2-boton-medium;
            }
        }
        .t2-partial-shared-heading-explanation {
                margin: -1px (-$t2-size-xsmall) 0 (-$t2-size-xsmall);
                border-top: 1px solid $t2-color-gray-fog;
                border-bottom: 1px solid $t2-color-gray-fog;
                .t2-explanation-trigger {
                    font-size: rem-calc(14);
                    line-height: rem-calc(16);
                    font-weight: bold;
                    color: $t2-color-pantone-cyan;
                    padding: $t2-size-xsmall;
                    padding-right: $t2-size-large;
                    display: block;
                    position: relative;
                    -webkit-transition: color 150ms ease, background 150ms ease;
                    -moz-transition: color 150ms ease, background 150ms ease;
                    transition: color 150ms ease, background 150ms ease;
                    .t2-icon {
                        position: absolute;
                        right: 0;
                        margin: 0 $t2-size-xsmall 0 0;
                        &:before {
                            vertical-align: -2px;
                            @extend [class^="t2-icon-"]:before;
                            @extend .t2-icon-down-open-1:before;
                        }
                    }
                    &:hover, &:active {
                        background: $t2-color-gray-steam;
                        color: darken($t2-color-pantone-cyan, 10%);
                    }
                }
                .t2-explanation-text {
                    display: none;
                    border-top: 1px solid $t2-color-gray-fog;
                    padding: $t2-size-xsmall;
                    background: $t2-color-gray-steam;
                    &, p {
                        font-size: rem-calc(14);
                        line-height: rem-calc(21);
                        color: $t2-color-gray-graphite;
                    }
                    &, h3 {
                        color: $t2-color-gray-graphite;
                        text-align: center;
                        font-size: rem-calc(30);
                        line-height: rem-calc(40);
                    }
                }
                /*&.t2-active {*/
                    .t2-active.t2-explanation-trigger {
                        .t2-icon {
                            &:before { @extend .t2-icon-up-open-1:before; }
                        }
                    }
                    .t2-active.t2-explanation-text { display: block; }
                /*}*/
        }
        @media #{$medium-up} {
            .t2-partial-shared-heading {
                padding: $t2-size-medium*2 0 $t2-size-medium rem-calc(35);
                margin: 0 0 0 0;
                border-bottom: 1px solid $t2-color-gray-fog;
                //step container
                .t2-step-container {
                    &:before {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin: 0 0 -11px -1px;
                        display: block;
                        content: "";
                        width: 2px;
                        height: 9px;
                        background-color: $scope-step-color; 
                    }
                }
                .t2-heading {
                    margin: 0;
                    padding: 0;
                }
            }
            .t2-partial-shared-heading-explanation {
                margin: 0 (-$t2-size-xsmall) 0 (-$t2-size-xsmall);
                border: none;
                .t2-explanation-trigger {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 0 rem-calc(22) 0 0;
                    margin: rem-calc(65) $t2-size-small 0 0;
                    .t2-icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin: 0;
                        &:before { vertical-align: -2px; }
                    }
                    &:hover, &:active { background: transparent; }
                }
                .t2-explanation-text {
                    border-top: none;
                    border-bottom: 1px solid $t2-color-gray-fog;
                    padding: $t2-size-small 0;
                    margin: 0 $t2-size-small;
                    background: transparent;
                    &, p {
                        font-size: $t2-size-xsmall;
                        line-height: rem-calc(25);
                        color: $t2-color-gray-graphite;
                    }
                }
            }       
        }
        @media #{$large-up} {
            .t2-partial-shared-heading { padding: $t2-size-large*2 0 $t2-size-medium rem-calc(35); }
            .t2-partial-shared-heading-explanation {
                margin: 0 (-$t2-size-xsmall) 0 (-$t2-size-xsmall);
                border: none;
                .t2-explanation-trigger { margin: rem-calc(85) rem-calc(20) 0 0; }
            }       
        }       
    }
    
    //partial: data-amount
    .t2-partial-data-package {
        //amount-list-container
        .t2-amount-list-container {
            //ul
            .t2-amount-list {
                padding: $t2-size-medium 0 $t2-size-small 0;
                //li
                .t2-item {
                    .t2-link {
                        text-align: center;
                        position: relative;
                        width: 100%;
                        padding: rem-calc(28) $t2-size-small;
                        .t2-amount {
                            display: block;
                            color: $t2-color-gray-concrete;
                        }
                        .t2-amount {
                            @extend .t2-boton-medium;
                            font-size: rem-calc(26);
                            line-height: rem-calc(22);
                            color: $t2-color-gray-graphite;
                        }
                        &.t2-active,
                        &:hover, &:active {
                            border-color: $t2-color-gray-graphite;
                            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                            box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                            &, span { color: $t2-color-gray-graphite; }
                        }
                        &.t2-active {
                            /*padding: rem-calc(27) $t2-size-small;*/
                            border-width: 3px;
                        }
                    }
                }
            }   
        }
        @media #{$medium-up} {
            .t2-amount-list-container {
                .t2-amount-list { padding: $t2-size-medium 0 $t2-size-large 0; }
            }
        }
        @media #{$large-up} {
            .t2-amount-list-container {
                .t2-amount-list {
                    padding: $t2-size-large 0 $t2-size-medium*2 0;
                    .t2-item {
                        .t2-link {
                            padding: rem-calc(35) $t2-size-small;
                            &.t2-active { padding: rem-calc(34) $t2-size-small; }
                        }
                    }
                }
            }
        }       
    }
    
    .t2-partial-data-package-description {
        background-color: $t2-color-gray-steam;
        .t2-data-package-list-container {
            > ul {
                margin-top: 20px;
            }
            .t2-item {
                display: none;
            }
            .t2-item.t2-active {
                display: block;
            }
            .t2-data-package-description {
                margin-bottom: rem-calc(40);
                .t2-example-list {
                    li {
                        padding-left: rem-calc(20);
                        margin-bottom: rem-calc(20);
                    }
                    .t2-icon {
                        margin-right: rem-calc(10);
                    }
                }
                .t2-description {
                    padding: rem-calc(10);
                    border-left: 1px solid $t2-color-gray-fog;
                    strong {
                        display: block;
                    }
                }
            }
        }
    }
    .t2-partial-subscription-types {
        .t2-subscription-type-description {
            padding-bottom: 0;
            .t2-item {
                text-align: left;
            }
            h4 {
                font-weight: bold;
            }
        }
        .t2-subscription-summary-list {
             li {
                 text-align: center;
                 padding: rem-calc(10);
                 margin-top: rem-calc(10);
             }
         }
        .t2-data-package,
        .t2-subscription-type {
            border: 1px solid $t2-color-gray-fog;
            span {
                display: block;
            }
        }
        .t2-popular-devices {
            border-top: 1px solid $t2-color-gray-fog;
            > .t2-link {
                font-weight: bold;
            }
            .t2-small-product-list {
                display: none;
                background: red;
                ul {
                    margin: 0 auto;
                    display: inline-block;
                }
                li.t2-item {
                    padding: 0 5px;
                    text-align: center;
                    .t2-image {
                        display: block;
                        height: 100px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        @include t2-background-size(contain);
                    }
                }
            }
            .t2-active.t2-small-product-list {
                display: block;
            }
        }
    }
}