.t2-page-coverage-map{
	.t2-tabs{
		padding-bottom:$t2-size-small;
		> ul{
			list-style-type: none;
			padding:0;
			margin:0;
			> li{
				padding:0;
				margin:0;
				position: relative;
				border-bottom:1px solid lighten($t2-color-gray-ash,7%);
				> a{
					display: block;
					position: static;
					color: $t2-color-linkblue;
					padding: $t2-size-xsmall 0;
					font-size: rem-calc(14);
					
					.t2-icon-down-open-1{
						float: right;
						height: 20px;
						width: 20px;
						line-height: 20px;
						display: block;
						position: relative;
						&:before{
							position: absolute;
							right:0;
							top:50%;
							text-align: center;
							height: 20px;
							width: 20px;
							line-height: 20px;
							font-size: 12px;
							margin-top:-11px;
							@include t2-trantran(0.10s, ease-out);
						}
					}
					
					.t2-icon-close{
						position: absolute;
						left:50%;
						bottom:0;
						height:20px;
						width: 40px;
						margin-left:-20px;
						overflow: hidden;
						//height:0;
						display:block;
						&:before{
							@include transition(bottom 0.2s ease-in 0s);
							position: absolute;
							left:50%;
							bottom:-21px;
							text-align: center;
							height: 20px;
							width: 40px;
							padding-top:1px;
							border:1px solid lighten($t2-color-gray-ash,7%);
							border-bottom: 0;
							@include border-top-radius(20px);
							line-height: 20px;
							font-size: 11px;
							margin-left:-20px;
							color: $t2-color-gray-concrete;
							
						}
					}
					&.expanded{
						.t2-icon-close{
							&:before{
								bottom:-1px;
								@include transition(bottom 0.3s ease-in 0.3s);
							}
						}
						.t2-icon-down-open-1:before{
							@include t2-transform(rotateZ, 180deg);
						}
					}				
				}
				> div{
					border-top:1px solid lighten($t2-color-gray-ash,7%);
					padding: $t2-size-small 0;
					
				}
			}
		}
		.t2-editorial{
			margin-bottom: $t2-size-xsmall;
		}	
	}
	.t2-iframe-container{
		margin:0 0 $t2-size-large 0;
		border:0;
		.t2-iframe{
			border:0;
			overflow: hidden;
		}
	}
	
	
@media #{$small-only} {
	.t2-iframe-container{
		
		> .row > .columns{
			margin:0;
			padding:0;
		}
	}
}	
@media #{$medium-up} {
	.t2-tabs{
		> ul{
			> li{
				> a{
					display: block;
					padding: $t2-size-small/2 0;
					&:hover{
						color: darken($t2-color-linkblue,15%);
					}
				}
			}
		}	
	}
}
@media #{$large-up} {
		
}
}