<div class="t2-nav-sectionmenu wide">
<div class="row ng-scope" ng-controller="SectionMenuController">
    <div class="columns">
	    <ul class="t2-items small-block-grid-2 medium-block-grid-6 large-block-grid-6">
	        <li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-mobile"></span><span class="t2-text">Mobiltelefoner</span><span class="t2-arrow"></span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-database"></span><span class="t2-text">Mobiltelefoner</span><span class="t2-arrow"></span><span class="t2-arrow"></span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
		        <a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-signal"></span><span class="t2-text">Mobiltelefoner</span><span class="t2-arrow"></span><span class="t2-arrow"></span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-flight"></span><span class="t2-text">Mobiltelefoner</span><span class="t2-arrow"></span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-phone"></span><span class="t2-text">Mobiltelefoner</span><span class="t2-arrow"></span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
			<li class="t2-item">
	        	<a href="#" class="title parent" ng-click="toogleSectionMenu(10)"><span class="t2-icon t2-icon-list-add"></span><span class="t2-text">Visa alla</span></a>
		        <div class="t2-content"><ul ng-show="IsSelected(10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 ng-hide">
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        	<li>
		        		<a class="title" href="/support/mobiltelefoner/installningar/">Inställningar</a>
		        	</li>
		        </ul>
				<a class="special" href="/support/mobiltelefoner/" ng-show="IsSelected(10)" class="ng-hide">Allt om Mobiltelefoner<span class="t2-icon t2-icon-right-open-1"></span></a></div>
			</li>
		</ul>
    </div>
</div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script>

$(document).ready(function(){
	$(".t2-nav-sectionmenu .t2-items .t2-item a.parent:not(.expanded)").parent().find(".t2-content").hide();
	$(".t2-nav-sectionmenu .t2-items .t2-item > a.parent").on("click", function(){
		var _this = $(this);
		_this.parent().parent().find("> .t2-item > .t2-content").finish();
		//alert(_this.hasClass("expanded"));
		if(_this.hasClass("expanded")===false){	
			var otherExpanded = _this.parent().parent().find("> .t2-item > a.parent.expanded");
			if(otherExpanded.length!==0){
				otherExpanded.removeClass("expanded").next(".t2-content").slideUp(180,function(){
					_this.addClass("expanded").next(".t2-content").slideDown(360);
				}).find("ul, special");
			}else{
				_this.addClass("expanded").next(".t2-content").slideDown(360);
			}
		}else{
			_this.removeClass("expanded").next(".t2-content").slideUp(180);
		}
	});
	
	//alert("fisk");
});
</script>